{% extends "Admin/COPOTemplate.html" %}
{% block title %}
Avg COPO
{% endblock %}
{% block content1 %}
<p class="text-body-secondary"> The Corelation sheet data is saved at the time of submission of
    data during the calculation of Course Outcome and Programme Outcome Mapping.</p>
{% endblock %}

{% block list %}
<li><a href="/Admin/Home/ViewCONAMES/" class="text-white">Consolidated COS Informations</a>
</li>
<li><a href="/Admin/Home/ViewCOPOAchieved/" class="text-white">Consolidated Direct
        Attainment</a></li>

<li><a href="/Admin/Home/ViewCourseExitCOPOAchieved/" class="text-white">CourseExit COPO
        Achieved</a></li>
<li><a href="/Admin/Home/ViewExternalCOPOAchieved/" class="text-white">All Threshold Based
        Scaled AVG</a></li>

<li><a href="/Admin/Home/ViewCourseExitThresholdBasedCOPOAchieved/" class="text-white">CourseExit Threshold Based
        Matrices</a></li>
<li> <a href='/'> <button>Main Page</button></a></li>
{% endblock %}

{% block content2 %}
<h1 class="fw-light"> COPO AVG</h1>
{% if COPOAVG %}
<h1 class="fw-light">Department of {{bran}} Batch {{batc}}</h1>
{% endif %}
<p class="lead text-body-secondary">For Each of the Subjects , below are the Sheets representing the
    data</p>
<p>
<div class="  d-flex" style="justify-content: center;" id="docsearch">

    <form action="/Admin/Home/ViewAVGCOPO/" method="get">
        <select name="batch" id="batch">
            <option value="def">Select Batch</option>
            {% for x in ba %}
            <option value="{{x.batch}}" name='{{x.batch}}'>{{x.batch}}</option>
            {% endfor %}
        </select>
        <select name="branch" id="branch">
            <option value="def">Select Branch</option>
            {% for x in br %}
            <option value="{{x.branch}}" name='{{x.branch}}'>{{x.branch}}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</p>
{% endblock %}

{% block content3 %}
<script>
    var sub = ''
    var cos = ''
    var pos = ''
    var psos = ''
    var header = ''
</script>
{% if COPOAVG %}

<div class="col-lg-6" style="width:100%">
    <div class="card shadow-sm forbuttons">
        <div style="width:100%; height:100%;overflow-y: scroll;padding-left: 10px;padding-top: 10px;"
            class="Expandable">
            <div style="width: 1000px; height: 100%;">
                <p
                    style="border: 2px solid blue ;  padding: 10px ; font-size: larger;font-weight: 600;display: block;width:25%">
                    Direct Attainments
                    Avg</p>
                <table class="table table-bordered border-primary  table-dark table-hover" id="Table">
                    <thead>
                        <tr scope="row" id="Theads1">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in COPOAVG.items %}
                        <tr>
                            {% for x in key %}
                            <th style="width: 50px;">
                                {{x}}
                            </th>
                            {% endfor %}
                            {% for z in value %}

                            <td style="width: 50px;">
                                {{z}}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        <tr id="Avg">
                            <th colspan="2">
                                Average :
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="graph1"></div>
            <br><br>
            <hr>
            <div style="width: 1000px; height: 100%;">

                <table class="table table-bordered border-primary  table-dark table-hover" id="Table2">
                    <p
                        style="border: 2px solid blue ;  padding: 10px ; font-size: larger;font-weight: 600;display: block;width:25%">
                        Direct Attainments Scaled
                        Avg</p>
                    <thead>
                        <tr scope="row" id="Theads2">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in COPOAVGSC.items %}
                        <tr>
                            {% for x in key %}
                            <th style="width: 50px;">
                                {{x}}
                            </th>
                            {% endfor %}
                            {% for z in value %}

                            <td style="width: 50px;">
                                {{z}}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        <tr id="Avg2">
                            <th colspan="2">
                                Average :
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="graph2"></div>
            <br><br>
            <hr>
            <div style="width: 1000px; height: 100%;">
                <p
                    style="border: 2px solid blue ;  padding: 10px ; font-size: larger;font-weight: 600;display: block;width:25%">
                    In-Direct Attainments
                    Avg</p>
                <table class="table table-bordered border-primary  table-dark table-hover" id="Table3">
                    <thead>
                        <tr scope="row" id="Theads3">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in COPOAVGEXT.items %}
                        <tr>
                            {% for x in key %}
                            <th style="width: 50px;">
                                {{x}}
                            </th>
                            {% endfor %}
                            {% for z in value %}

                            <td style="width: 50px;">
                                {{z}}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        <tr id="Avg3">
                            <th colspan="2">
                                Average :
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="graph3"></div>
            <br><br>
            <hr>
            <div style="width: 1000px; height: 100%;">
                <p
                    style="border: 2px solid blue ;  padding: 10px ; font-size: larger;font-weight: 600;display: block;width:25%">
                    In-Direct Attainments Scaled
                    Avg</p>
                <table class="table table-bordered border-primary  table-dark table-hover" id="Table4">
                    <thead>
                        <tr scope="row" id="Theads4">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in COPOAVGEXTSC.items %}
                        <tr>
                            {% for x in key %}
                            <th style="width: 50px;">
                                {{x}}
                            </th>
                            {% endfor %}
                            {% for z in value %}

                            <td style="width: 50px;">
                                {{z}}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        <tr id="Avg4">
                            <th colspan="2">
                                Average :
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="graph4">

        </div>
        <br><br>
        <hr>
        <script>



            const width = 500;
            const height = 300;
            const margin = { top: 20, right: 20, bottom: 40, left: 40 };


            function graphattained(divclass, dataarr) {
                const data = dataarr;
                const svg = d3.select(`.${divclass}`)
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

                const xScale = d3.scaleBand()
                    .domain(data.map((d, i) => i))
                    .range([margin.left, width - margin.right])
                    .padding(0.2);

                const yScale = d3.scaleLinear()
                    .domain([0, 3])
                    .range([height - margin.bottom, margin.top]);

                // Add bars with animation
                svg.selectAll("rect")
                    .data(data)
                    .enter()
                    .append("rect")
                    .attr("x", (d, i) => xScale(i))
                    .attr("y", height - margin.bottom)
                    .attr("width", xScale.bandwidth())
                    .attr("height", 0)
                    .attr("fill", (d, i) => i >= data.length - 2 ? "lime" : "aqua") // Change color of last two bars
                    .transition()
                    .duration(800)
                    .attr("y", d => yScale(d))
                    .attr("height", d => height - margin.bottom - yScale(d));

                // Add labels on top of bars
                svg.selectAll("text")
                    .data(data)
                    .enter()
                    .append("text")
                    .text(d => d)
                    .attr("x", (d, i) => xScale(i) + xScale.bandwidth() / 2)
                    .attr("y", height - margin.bottom)
                    .attr("text-anchor", "middle")
                    .attr("fill", "white")
                    .attr("font-size", "12px")
                    .transition()
                    .duration(800)
                    .attr("y", d => yScale(d) - 5);

                // X Axis
                svg.append("g")
                    .attr("transform", `translate(0, ${height - margin.bottom})`)
                    .call(d3.axisBottom(xScale).tickFormat(d => d + 1));
                svg.append("text")
                    .attr("x", width / 2)
                    .attr("y", height - 5)
                    .attr("text-anchor", "middle")
                    .attr("font-size", "14px")
                    .attr("fill", "White")
                    .text("COS");
                // Y Axis
                svg.append("g")
                    .attr("transform", `translate(${margin.left}, 0)`)
                    .call(d3.axisLeft(yScale));
                svg.append("text")
                    .attr("x", -height / 2)
                    .attr("y", 15)
                    .attr("text-anchor", "middle")
                    .attr("font-size", "14px")
                    .attr("fill", "White")
                    .attr("transform", "rotate(-90)")
                    .text("Values");


            }


            pos = 12
            psos = 2
            header = `<th scope="col">Subject_ID</th>
        <th scope="col">Subject</th>`
            for (let a = 0; a < parseInt(pos) + parseInt(psos); a++) if (a < parseInt(pos)) header += `<th scope="col">
            Po's${(a + 1)}</th>`
            else
                header += `<th scope="col">PSo's${(a + 1 - parseInt(pos))}</th>`


            document.getElementById('Theads1').innerHTML = header
            document.getElementById('Theads2').innerHTML = header

            document.getElementById('Theads3').innerHTML = header

            document.getElementById('Theads4').innerHTML = header

            var storeelements = []
            function calcavg(str, avg) {
                storeelements = []
                const table = document.getElementById(str)
                let arr = [];
                const rows = table.querySelectorAll('tr');
                rows.forEach(row => {
                    const rowdata = [];
                    row.querySelectorAll('td').forEach(cell => {
                        rowdata.push(cell.textContent.trim());
                    });
                    arr.push(rowdata);
                })
                for (let z = 0; z < 14; z++) {
                    let avg = 0.0, sum = 0.0, count = 0; for (let b = 1; b < arr.length - 1; b++) {
                        if
                            (arr[b][z] != "" && arr[b][z] != "NaN") { sum += parseFloat(arr[b][z]); count++; }
                    } avg = Math.round(sum /
                        count * 100) / 100; storeelements.push(avg);
                } let doc = ``;
                for (let index = 0; index <
                    storeelements.length; index++) {
                    doc += `<th>${storeelements[index]}</th>`

                }
                table.querySelector(`#${avg}`).innerHTML += doc
            }

            calcavg('Table', 'Avg');
            graphattained('graph1', storeelements)
            calcavg('Table2', 'Avg2');
            graphattained('graph2', storeelements)
            calcavg('Table3', 'Avg3');
            graphattained('graph3', storeelements)
            calcavg('Table4', 'Avg4');
            graphattained('graph4', storeelements)

        </script>

    </div>
</div>

{% endif %}

{% endblock %}
{% block script %}

{% endblock %}