{% extends "Admin/COPOTemplate.html" %}
{% block title %}
Consolidated Corelations
{% endblock %}
{% block content1 %}
<p class="text-body-secondary"> The Corelation sheet data is saved at the time of updation of
    data during the calculation of Course Outcome and Programme Outcome Mapping.Here You can
    edit and update the Sheets,click on view to enlarge the table and change the values and save
    to overwrite the data</p>
{% endblock %}
{% block list %}
<li><a href="/Admin/Home/ViewCONAMES/" class="text-white">Consolidated COS Informations</a>
</li>
<li><a href="/Admin/Home/ViewCOPOAchieved/" class="text-white">Consolidated Direct
        Attainment</a></li>

<li><a href="/Admin/Home/ViewCourseExitCOPOAchieved/" class="text-white">CourseExit COPO
        Achieved</a></li>

<li><a href="/Admin/Home/ViewCourseExitThresholdBasedCOPOAchieved/" class="text-white">CourseExit Threshold Based
        Matrices</a></li>
{% endblock %}

{% block content2 %}
<h1 class="fw-light">Subjects Corelation Sheets</h1>
<p class="lead text-body-secondary">For Each of the Subjects , below are the Sheets representing the
    data</p>
<p>
<div class="bd-search" id="docsearch" data-bd-docs-version="5.3"><button type="button" aria-label="Search (Ctrl+K)"
        class="DocSearch DocSearch-Button"><span class="DocSearch-Button-Container"><svg width="20" height="20"
                viewBox="0 0 20 20" aria-hidden="true" class="DocSearch-Search-Icon">
                <path
                    d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                    stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg><input type="text" id="searchBox" placeholder="Search..." onkeyup="searchPage()"></span><span
            class="DocSearch-Button-Keys"></span></button>

</div>
</p>
{% endblock %}

{% block content3 %}
<script>
    var sub = ''
    var cos = ''
    var pos = ''
    var psos = ''
    var header = ''
</script>
{% for x,subj in data %}
<div class="col-lg-6">
    <div class="card shadow-sm forbuttons">
        <div style="width:100%; height:230px;overflow-y: scroll;padding-left: 10px;padding-top: 10px;"
            class="Expandable">
            <div style="width: 1000px; height: 250px;">
                <table class="table table-bordered border-primary  table-dark table-hover">
                    <thead>
                        <tr scope="row" id="Theads{{x.subject}}">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in x.data.items %}
                        <tr>
                            <th style="width: 50px;">
                                {{key}}
                            </th>
                            {% for z in value %}
                            <td style="width: 50px;" contenteditable="true">
                                {{z}}
                            </td>


                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <script>
            sub = '{{subj.subject}}'
            cos = '{{subj.NOCO}}'
            pos = '{{subj.NOPO}}'
            psos = '{{subj.NOPSO}}'
            header = `<th scope="col">COS</th>`
            for (let a = 0; a < parseInt(pos) + parseInt(psos); a++)
                if (a < pos)
                    header += `<th scope="col">Pos${(a + 1)}</th>`
                else
                    header += `<th scope="col">Psos${(a + 1 - pos)}</th>`
            document.getElementById('Theads{{x.subject}}').innerHTML = header

        </script>


        <div class="card-body">
            <p class="card-text">
            <h3 id='subjh3' class="searchable">{{x.subject}}</h3>
            <h6 class="searchable">Sem :{{subj.sem}}</h6>
            <h6>Number of Co = {{subj.NOCO}}</h6>
            <h6>Number of Po = {{subj.NOPO}}</h6>
            <h6>Number of Po = {{subj.NOPSO}}</h6>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary myButtonV enlarge-btn"
                        id="{{x.subject}}-view">View</button>

                </div>
                <!--
                                    <small class="text-body-secondary">Uploaded at {{x.uploade_time|date:"D M d, Y
                                        H:i:s"}}</small>
                                    <small class="text-body-secondary"> {{ event.start_time|timesince }} ago</small> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
{% block script %}
<script>
    function searchPage() {
        const input = document.getElementById('searchBox').value.toLowerCase();
        const elements = document.querySelectorAll('.searchable');
        console.log(elements)

        elements.forEach(element => {
            if (element.textContent.toLowerCase().includes(input)) {
                element.closest('.card').style.display = 'block'; // Show matching elements
            } else {
                element.closest('.card').style.display = 'none'; // Hide non-matching elements
            }
        });
    }

    const buttons = document.querySelectorAll('.enlarge-btn');
    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            const overlay = document.querySelector('.overlay');
            const enlargedCard = document.querySelector('.enlarged');

            if (overlay && enlargedCard) {
                overlay.remove();
                enlargedCard.classList.remove('enlarged');
                enlargedCard.querySelector('.Expandable').style.height = '230px'

            }
        }
    });


    // Add event listener to each button
    buttons.forEach((button) => {
        button.addEventListener('click', (event) => {
            const card = event.target.closest('.card');

            // Check if a card is already enlarged
            const existingEnlarged = document.querySelector('.enlarged');
            if (existingEnlarged) {
                existingEnlarged.classList.remove('enlarged');
                const overlay = document.querySelector('.overlay');
                if (overlay) overlay.remove();
            }

            // Add the enlarged class to the clicked card
            card.classList.add('enlarged');
            card.querySelector('.Expandable').style.height = '300px'

            const element = card.querySelector('#saveCOCorelation')
            // Add an overlay for better focus
            const overlay = document.createElement('div');
            overlay.classList.add('overlay');
            document.body.appendChild(overlay);
            if (!element) {
                const submitb = document.createElement('button')
                submitb.id = "saveCOCorelation";
                // submitb.classList.add('btn-outline-secondary button')

                submitb.innerHTML = 'Save'
                card.querySelector('.Expandable').appendChild(submitb)
            }


            // Add click listener to overlay to close the enlarged card
            overlay.addEventListener('click', () => {
                card.classList.remove('enlarged');
                overlay.remove();
                card.querySelector('.Expandable').style.height = '230px'
                submitb.remove()
            });
        });
    });

    document.addEventListener('click', function (event) {
        if (event.target.id === 'saveCOCorelation') {
            const card = event.target.closest('.card');
            const table = card.querySelector('table');
            const data = {};
            let a = 0;
            table.querySelectorAll('tbody tr').forEach((row) => {
                let arr = []


                const cells = row.querySelectorAll('td');
                for (let a = 0; a < cells.length; a++) {
                    arr.push(cells[a].innerText.trim())
                }
                data[`Co` + (a + 1)] = arr
                a++;
            });
            const datam = JSON.stringify(data)
            const sub = card.querySelector('#subjh3').innerText
            $.ajax({
                url: '/Admin/Home/SaveCOmatrix/',
                type: 'POST',
                data: {
                    sub: sub,
                    matrix: datam,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    setTimeout(() => {
                        alert(data.message)
                    }, 1000)
                }

            })

        }
    })
</script>
{% endblock %}