{% extends "Admin/COPOTemplate.html" %}
{% block title %}
COPO ACHIEVED
{% endblock %}
{% block content1 %}
<p class="text-body-secondary"> The Corelation sheet data is saved at the time of submission of
    data during the calculation of Course Outcome and Programme Outcome Mapping.</p>
{% endblock %}

{% block content2 %}
<h1 class="fw-light">COPO Achieved</h1>
<p class="lead text-body-secondary">For Each of the Subjects , below are the Sheets representing the
    data</p>
<p>
<div class="  d-flex" style="justify-content: center;" id="docsearch"><button type="button" aria-label="Search (Ctrl+K)"
        class="DocSearch DocSearch-Button"><span class="DocSearch-Button-Container"><svg width="20" height="20"
                viewBox="0 0 20 20" aria-hidden="true" class="DocSearch-Search-Icon">
                <path
                    d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                    stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg><input type="text" id="searchBoxBr" placeholder="Filter Branch..."
                onkeyup="searchPageBranch()"></span><span class="DocSearch-Button-Keys"> </span></button>

    <br>

    <button type="button" aria-label="Search (Ctrl+K)" class="DocSearch DocSearch-Button"><span
            class="DocSearch-Button-Container"><svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"
                class="DocSearch-Search-Icon">
                <path
                    d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                    stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg><input type="text" id="searchBoxBa" placeholder="Filter Batch..."
                onkeyup="searchPageBatch()"></span><span class="DocSearch-Button-Keys"></span></button>

    <br>

    <button type="button" aria-label="Search (Ctrl+K)" class="DocSearch DocSearch-Button"><span
            class="DocSearch-Button-Container"><svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"
                class="DocSearch-Search-Icon">
                <path
                    d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                    stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg><input type="text" id="searchBox" placeholder="Filter by Sem, Date/Time.."
                onkeyup="searchPageSem()"></span><span class="DocSearch-Button-Keys"></span></button>

    <button type="button" aria-label="Search (Ctrl+K)" class="DocSearch DocSearch-Button" id="Filter">Filter</button>
</div>
</p>
{% endblock %}

{% block content3 %}
<script>
    var sub = ''
    var cos = ''
    var pos = ''
    var psos = ''
    var header = ''
</script>
{% for x,subj in data %}
<div class="col-lg-6">
    <div class="card shadow-sm forbuttons" data-brn="{{x.branch}}" data-sem="{{subj.sem}}" data-batch="{{x.batch}}">
        <div style="width:100%; height:230px;overflow-y: scroll;padding-left: 10px;padding-top: 10px;"
            class="Expandable">
            <div style="width: 1000px; height: 250px;">
                <table class="table table-bordered border-primary  table-dark table-hover">
                    <thead>
                        <tr scope="row" id="Theads{{x.subject}}">


                        </tr>
                    </thead>
                    <tbody id="Tbodys" class="table-group-divider">
                        {% for key,value in x.copoAch.items %}
                        <tr>
                            <th style="width: 50px;">
                                {{key}}
                            </th>
                            {% for z in value %}
                            <td style="width: 50px;">
                                {{z}}
                            </td>


                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <script>
            sub = '{{subj.subject}}'
            cos = '{{subj.NOCO}}'
            pos = '{{subj.NOPO}}'
            psos = '{{subj.NOPSO}}'
            header = `<th scope="col">COS</th>`
            for (let a = 0; a < parseInt(pos) + parseInt(psos); a++)
                if (a < pos)
                    header += `<th scope="col">Pos${(a + 1)}</th>`
                else
                    header += `<th scope="col">Psos${(a + 1 - pos)}</th>`
            document.getElementById('Theads{{x.subject}}').innerHTML = header

        </script>


        <div class="card-body">
            <p class="card-text">
            <h3 id='subjh3' class="searchable">{{x.subject}}-{{x.uploaded_by}}</h3>
            <h6 class="searchable"> Sem :{{subj.sem}}</h6>
            <h6 class="searchableBa">Batch :{{x.batch}}</h6>
            <h6 class="searchableBr">Branch :{{x.branch}} </h6>
            <h6>Number of Co = {{subj.NOCO}}</h6>
            <h6>Number of Po = {{subj.NOPO}}</h6>
            <h6>Number of Po = {{subj.NOPSO}}</h6>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary myButtonV enlarge-btn"
                        id="{{x.subject}}-view">View</button>

                </div>

                <small class="text-body-secondary" class="searchable">Uploaded at {{ x.uploade_date}}</small>
                <small class="text-body-secondary" class="searchable"> {{ x.uploade_date|timesince }} ago</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
{% block script %}
<script>
    function searchPageBranch() {
        const input = document.getElementById('searchBoxBr').value.toLowerCase();
        const elements = document.querySelectorAll('.searchableBr');


        elements.forEach(element => {
            if (element.textContent.toLowerCase().includes(input)) {
                element.closest('.card').style.display = 'block'; // Show matching elements
            } else {
                element.closest('.card').style.display = 'none'; // Hide non-matching elements
            }
        });
    }
    function searchPageBatch() {
        const input = document.getElementById('searchBoxBa').value.toLowerCase();
        const elements = document.querySelectorAll('.searchableBa');


        elements.forEach(element => {
            if (element.textContent.toLowerCase().includes(input)) {
                element.closest('.card').style.display = 'block'; // Show matching elements
            } else {
                element.closest('.card').style.display = 'none'; // Hide non-matching elements
            }
        });
    }
    function searchPageSem() {
        const input = document.getElementById('searchBox').value.toLowerCase();
        const elements = document.querySelectorAll('.searchable');


        elements.forEach(element => {
            if (element.textContent.toLowerCase().includes(input)) {
                element.closest('.card').style.display = 'block'; // Show matching elements
            } else {
                element.closest('.card').style.display = 'none'; // Hide non-matching elements
            }
        });
    }

    const buttons = document.querySelectorAll('.enlarge-btn');
    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            const overlay = document.querySelector('.overlay');
            const enlargedCard = document.querySelector('.enlarged');

            if (overlay && enlargedCard) {
                overlay.remove();
                enlargedCard.classList.remove('enlarged');
                enlargedCard.querySelector('.Expandable').style.height = '230px'

            }
        }
    });

    document.addEventListener('click', function (event) {
        if (event.target.id === 'Filter') {
            console.log('HI')

            const br = document.getElementById("searchBoxBr");
            const ba = document.getElementById("searchBoxBa");
            const va = document.getElementById("searchBox");
            const cards = document.querySelectorAll(".card");
            function applyFilters() {
                const brval = br.value
                const baval = ba.value
                const vaval = va.value
                cards.forEach(card => {
                    const cardbr = card.dataset.brn
                    const cardba = card.dataset.batch
                    const cardva = card.dataset.sem

                    const matchesbr = cardbr === brval
                    const matchesba = cardba === baval
                    const matchesva = cardva === vaval

                    if (matchesbr && matchesba && matchesva) {
                        card.style.display = "block"
                    }
                    else {
                        card.style.display = "none"
                    }

                })
            }
            applyFilters()

        }
    })


    // Add event listener to each button
    buttons.forEach((button) => {
        button.addEventListener('click', (event) => {
            const card = event.target.closest('.card');

            // Check if a card is already enlarged
            const existingEnlarged = document.querySelector('.enlarged');
            if (existingEnlarged) {
                existingEnlarged.classList.remove('enlarged');
                const overlay = document.querySelector('.overlay');
                if (overlay) overlay.remove();
            }

            // Add the enlarged class to the clicked card
            card.classList.add('enlarged');
            card.querySelector('.Expandable').style.height = '300px'
            // Add an overlay for better focus
            const overlay = document.createElement('div');
            overlay.classList.add('overlay');
            document.body.appendChild(overlay);



            // Add click listener to overlay to close the enlarged card
            overlay.addEventListener('click', () => {
                card.classList.remove('enlarged');
                overlay.remove();
                card.querySelector('.Expandable').style.height = '230px'

            });
        });
    });


</script>
{% endblock %}