<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Homepage</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #b7cdee6d;
            height: 100vh;
        }

        .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }

        header {
            border: 1 px solid white;
            margin-top: 100px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* height: 100vh; */
        }

        .accordion-button {

            width: 500px;


        }

        table,
        th,
        td {
            border: 1px solid black;
            border-radius: 10px;
            background-color: rgba(241, 151, 91, 0.486);
            margin: 1px;
            padding: 2px;
            border-radius: 10px;
        }


        th {
            background-color: rgba(241, 151, 91, 0.486);
            margin: 1px;
            padding: 2px;
            border-radius: 10px;
        }

        td {
            border: none rgba(95, 72, 57, 0.486);
            margin: 1px;
            padding: 2px;
            text-align: center;
            border-radius: 10px;

        }


        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0px;

        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .Table_data:focus {
            outline: none;
        }

        .Button {
            border: 2px solid blue;
            background-color: #6A0DAD;
            color: azure;
            width: 100px;
            height: 30px;
            border-radius: 30px;
            transition: background-color;
            font-size: 14px;
        }

        .Button:hover {
            background-color: #540b9c;

        }
    </style>
</head>

<body>
    {% block content %}

    {% endblock %}

    <br><br><br>
    <main>
        {% if messages %}
        <ul class="message-list">
            {% for message in messages %}
            <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="Data">
            <div>
                <p style="text-align: center;font-size:xx-large;font-weight: 400;"><i>CoPo Co-relation Matrix</i></p>
            </div>
            <div id="input">
                <input type="number" name="numberofpos" id="numberofpos" placeholder="No of Po "
                    style="background-color: bisque;width:150px ;box-shadow:2px 2px 5px 5px #ffd966;border-color: transparent;border-radius: 30px;  ">
                &nbsp
                <input
                    style="border-radius: 30px;width:150px ;box-shadow:2px 2px 5px 5px #ffd966; background-color: bisque; border-color: transparent;"
                    type="number" name="numberofcos" id="numberofcos" placeholder="No of Cos ">
                <input
                    style="border-radius: 30px;width:150px ;box-shadow:2px 2px 5px 5px #ffd966; background-color: bisque; border-color: transparent;"
                    type="number" name="numberofpsos" id="numberofpsos" placeholder="No of PSo ">

            </div>
            <br><br>

            <div id="codescription">

            </div>

            <div class=" " id="copotable-div">


            </div>


            <div class="Internal-External-Weighted-AVG ">
                <!--Error while using style visiblity hidden!-->
                <table id="INT-EXT">
                    <thead>
                        <tr>
                            <td style="background-color:rgb(246, 239, 229)">4</td>
                            <td style="background-color:rgb(246, 239, 229)">Int Wt Avg </td>
                            <td style="background-color:rgb(246, 239, 229)">Ext Wt Ag </td>
                        </tr>
                        <caption></caption>
                    </thead>
                    <tbody id="COTableGen">

                    </tbody>
                </table>

            </div>

            <div>
                {% if Students %}

                <form action="">
                    <caption>IA 1</caption>
                    <table id="formTable">

                        <thead>

                            <tr>
                                <td style="background-color:rgb(246, 239, 229)" colspan="2">COs </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='COia1{{i}}'
                                        id='COia1{{i}}'>
                                </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td style="background-color:rgb(246, 239, 229)" colspan="2">Marks </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='MARKSia1{{i}}'
                                        id='MARKSia1{{i}}'></td>
                                {% endfor %}
                            </tr>
                            <tr>

                                <th style="padding:0px 150px 0px 1px; background-color:blanchedalmond">Name</th>
                                <th style="padding:0px 100px 0px 1px; background-color:blanchedalmond">Prn</th>
                                {% for i in NoofQuestions %}
                                <th style="background-color:blanchedalmond">Q{{i}} </th>
                                {% endfor %}


                            </tr>
                        </thead>
                        <tbody>

                            {% for s in Students %}
                            <tr name='{{forloop.counter}}'>
                                <td style="background-color:rgb(246, 239, 229)">{{s.name}}</td>
                                <td style="background-color:rgb(246, 239, 229)">{{s.prn}}</td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='QA{{i}}' id='QA{{i}}'>
                                </td>
                                {% endfor %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if qno %}
                    <br>
                    <span style="display: flex; ">
                        <p style="margin: 10px;" class="Button">Lvl1 {{lvl1Threshold}}</p>
                        <p style="margin: 10px;" class="Button">Lvl2 {{lvl2Threshold}}</p>
                        <p style="margin: 10px;" class="Button">Lvl3 {{lvl3Threshold}}</p>
                        <p style="margin: 10px;" class="Button" id="NoofQuestions">{{qno}}</p>

                    </span>
                    <button style="margin: 10px 10px;" class="Button" type="button" onclick="callCalculate1()"
                        class="Button">Calculate</button>



                    <script type="text/javascript">
                        var thresh = "{{ia_th_pom}}"
                        let lvl1 = "{{lvl1Threshold}}"
                        let lvl2 = "{{lvl2Threshold}}"
                        let lvl3 = "{{lvl3Threshold}}"
                    </script>
                    <script>
                        function callCalculate1() {
                            let noq = parseInt(document.getElementById('NoofQuestions').textContent);

                            mainFunctions.calculate1(noq, lvl1, lvl2, lvl3);
                        }
                    </script>

                    {% endif %}
                    <br><br>
                    <!--  -->
                    <caption>IA 1</caption>
                    <table id="Calculated-IA1">
                        <tbody>

                            <tr>
                                <td style="background-color:rgb(246, 239, 229) ;width: 327px;">Threshold Marks </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229);width: 35px; padding: 1px 2px ;"
                                    name='ThreshMarksIA1{{i}}' id='ThreshMarksIA1{{i}}'></td>
                                {% endfor %}

                            </tr>
                            <tr>
                                <td style="background-color:rgb(246, 239, 229);width: 327px;">Count of obtained above
                                    Threshold </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229);width: 35px;padding: 1px 2px ; "
                                    name='Coatia1{{i}}' id='Coatia1{{i}}'></td>
                                {% endfor %}

                            </tr>
                            <tr>
                                <td style="background-color:rgb(246, 239, 229);width:327px;">Attainment Lvl in % </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) ;width: 35px;padding: 1px 2px ;"
                                    name='AttlvlIA1{{i}}' id='AttlvlIA1{{i}}'> </td>
                                {% endfor %}

                            </tr>

                        </tbody>
                    </table>




                    <!--  -->
                    <caption>IA 2</caption>
                    <table id="formTable2">

                        <thead>

                            <tr>
                                <td style="background-color:rgb(246, 239, 229)" colspan="2">COs </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='COia2{{i}}'
                                        id='COia2{{i}}'>
                                </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td style="background-color:rgb(246, 239, 229)" colspan="2">Marks </td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='MARKSia2{{i}}'
                                        id='MARKSia2{{i}}'></td>
                                {% endfor %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='MARKSTEE' id='MARKSTEE'>
                                </td>
                            </tr>
                            <tr>
                                <th style="padding:0px 150px 0px 1px; background-color:blanchedalmond">Name</th>
                                <th style="padding:0px 100px 0px 1px; background-color:blanchedalmond">Prn</th>
                                {% for i in NoofQuestions %}
                                <th style="background-color:blanchedalmond">Q{{i}} </th>
                                {% endfor %}
                                <th style="background-color:blanchedalmond">TEE </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for s in Students %}
                            <tr>
                                <td style="background-color:rgb(246, 239, 229)">{{s.name}}</td>
                                <td style="background-color:rgb(246, 239, 229) ">{{s.prn}}</td>
                                {% for i in NoofQuestions %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='QA1{{i}}' id='QA1{{i}}'>
                                </td>
                                {% endfor %}
                                <td style="background-color:rgb(246, 239, 229) "><input class="Table_data"
                                        style="width: 30px; border: none; " type="number" name='TEE'
                                        id='TEE{{forloop.counter}}'></td>

                            </tr>
                            {% endfor %}




                        </tbody>
                    </table>
                    <br>


                </form>

                {% if qno %}
                <br>
                <button type="button" style="position:relative;left:600px" onclick="callCalculate2()"
                    class="Button">Calculate</button>

                <script>
                    function callCalculate2() {
                        let noq = document.getElementById('NoofQuestions').textContent;

                        mainFunctions.calculate2(noq, lvl1, lvl2, lvl3);
                    }
                </script>
                {% endif %}

                <br><br>

                <caption>IA 2</caption>
                <table id="Calculated-IA2">
                    <tbody>

                        <tr>
                            <td style="background-color:rgb(246, 239, 229) ;width: 327px;">Threshold Marks </td>
                            {% for i in NoofQuestions %}
                            <td style="background-color:rgb(246, 239, 229);width: 35px; padding: 1px 2px ; "
                                name='ThreshMarksIA2{{i}}' id='ThreshMarksIA2{{i}}'></td>
                            {% endfor %}
                            <td style="background-color:rgb(246, 239, 229) ;width: 35px; padding: 1px 2px ;"
                                name='ThreshMarksTEE' id='ThreshMarksTEE'> </td>
                        </tr>
                        <tr>
                            <td style="background-color:rgb(246, 239, 229);width: 327px; ">Count of obtained above
                                Threshold
                            </td>
                            {% for i in NoofQuestions %}
                            <td style="background-color:rgb(246, 239, 229);width: 35px; padding: 1px 2px ;"
                                name='Coatia2{{i}}' id='Coatia2{{i}}'> </td>
                            {% endfor %}
                            <td style="background-color:rgb(246, 239, 229) ;width: 35px;padding: 1px 2px ;"
                                name='CountTEE' id='CountTEE'> </td>
                        </tr>
                        <tr>
                            <td style="background-color:rgb(246, 239, 229);width:327px;">Attainment Lvl in % </td>
                            {% for i in NoofQuestions %}
                            <td style="background-color:rgb(246, 239, 229) ;width: 35px;padding: 1px 2px ;"
                                name='AttlvlIA2{{i}}' id='AttlvlIA2{{i}}'> </td>
                            {% endfor %}
                            <td style="background-color:rgb(246, 239, 229);width: 35px; padding: 1px 2px ;"
                                name='CMARKSTEE' id='CMARKSTEE'> </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            {% endif %}
        </div>

        </div>
        <br><br><br>
        <div id="copotable-achieved-div">

        </div>
        <br><br>
        <div id="EThreshold-achieved-table">
        </div>

        <div>
            <p id="courseExit" style="text-align: center;font-size:xx-large;font-weight: 400;visibility:hidden;">
                <i>Course Exit
                    Survey
                    Co-relation
                    Matrix</i>
            </p>
        </div>
        <div id="Scaled">

        </div>
        <div id="CourseExit-table">
        </div>

        <div id="ECourseExit-table">
        </div>

    </main>
    <footer style="text-align: center;">

        <div class="hid">
            <h2>END OF DATA</h2>
            <p>Click to save Correlation Matrix,
                COPO and Ethreshold acheived &
                CourseExit Tables </p>
            <button class="Button" id="savenprint" style="width: 200px;">
                Export To Xcell And Print
            </button>
            <script>
                document.getElementById('savenprint').addEventListener('click', function () {
                    const sub = document.getElementById('subject_collapse').innerHTML.trim()
                    const tea = document.getElementById('teacher_collapse').innerHTML.trim()
                    // const br = 
                    // const ba = 
                    const time = document.getElementById('stime').innerHTML.trim()

                    setTimeout(() => {
                        alert('Data Saved Successfully, Redirecting to FreshPage');
                        location.reload(true);
                    }, 1000)
                });
            </script>

        </div>
        <br>
        <br>
    </footer>
    <script>

        var pos;
        var psos;
        var cos;
        function setCOPO() {
            let sub = document.getElementById('subject_collapse').innerHTML.trim();

            $.ajax({
                url: '/Admin/Home/retrieveco/', // Backend endpoint
                type: 'POST',
                data: {
                    sub: sub, // Send JSON string as data
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (data) {
                    cos = data.NOCO;
                    pos = data.NOPO;
                    psos = data.NOPSO;
                    teethreshold = data.sempom;
                    conames = data.Cos
                    document.getElementById('numberofpos').value = pos;
                    document.getElementById('numberofpsos').value = psos;
                    document.getElementById('numberofcos').value = cos;
                    const con = document.getElementsByName('CoName')
                    let counter = 0;
                    generateCOPO()

                    for (const key in conames) {
                        con[counter].value = `${conames[key]}`
                        let ele = document.getElementsByName('Co' + (counter + 1))

                        if (data.COMatrix) {
                            let count2 = 0;
                            let k = data.COMatrix[`Co${(counter + 1)}`]
                            for (const y in k) {
                                ele[count2].value = `${k[y]}`
                                count2++;

                            }
                        }

                        counter++;
                    }
                    calc.TweightedAvgAchieved();
                    calc.TargetNAvg();





                    // for (const key in conames) {
                    //     console.log(`${key}:${conames[key]}`);

                    // }
                    // Object.entries(conames).forEach(([key, value]) => {
                    //     console.log(`${key}:${value}`)

                    // })

                }

            })

        }

        function generateCOPO() {
            // pos = document.getElementById('numberofpos').value;
            // psos = document.getElementById('numberofpsos').value;
            // cos = document.getElementById('numberofcos').value;
            let innerhtml = `
            <form>
                <table id="formTableCopoRelation">
                    <thead>
                        <tr>
                            <td style = "width: 30px">2</td>`
            for (let x = 0; x < pos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >Po${x + 1}</td>`

            }
            for (let x = 0; x < psos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >PSo${x + 1}</td>`

            }
            innerhtml += `</tr></thead>
            <tbody>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<tr> <td style = "width: 30px;background-color:#50bd2e"  >Co${x + 1}</td>`;
                for (let y = 0; y < pos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)" ><input type = "number" class="Table_data" name = 'Co${x + 1}' id = 'pos${y + 1}-Co${x + 1}' style="width: 30px; border: none;" ></td>`;
                }
                for (let y = 0; y < psos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)" ><input type = "number" class="Table_data" name = 'Co${x + 1}' id = 'psos${y + 1}-Co${x + 1}'
                                    style="width: 30px; border: none"; ></td>`;
                }

                innerhtml += `</tr>`;

            }
            innerhtml += `</tbody></table>

            </form><br>
            <button type = "button" class = "Button" onclick=  " save() ">Save</button>
            <button type = "button" class = "Button" onclick=  " update() ">Update</button>

            <br><br>
            <table id="Table3xl">
                 <tbody>`

            innerhtml += `<tr> <td style = "width: 200px;background-color:#50bd2e"  >Target Set</td>`;
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "width: 30px;background-color:rgb(246, 239, 229)"  name = 'Targetdata'> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "width: 30px;background-color:rgb(246, 239, 229)" name = 'Targetdata' > </td>`;
            }
            innerhtml += `</tr> `
            innerhtml += `<tr> <td style = "width: 200px;background-color:#50bd2e"  >Target Avg</td>`;
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "width: 30px;background-color:rgb(246, 239, 229)"  name = 'Targetavg'> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "width: 30px;background-color:rgb(246, 239, 229)" name = 'Targetavg' > </td>`;
            }



            innerhtml += `</tr>
                </tbody></table>  <br><br>`;

            document.getElementById('copotable-div').innerHTML = innerhtml;
            let table = ` <form ><table id="Table1xl">
            <thead>
                <tr>
                    <td style="width: 50px;">1 </td>
                    <td>Course Outcomes</td>
                </tr>
            </thead>
            <tbody>`

            for (let a = 0; a < cos; a++) {
                table += `<tr> <td style = "width: 50px;background-color:aqua"  >Co${(a + 1)}</td>
                    <td><input style = "width: 600px;" type = 'text'  class="Table_data" name = 'CoName' ></td></tr>`
            }
            table += `</tbody></table></form><br><br>`

            document.getElementById('codescription').innerHTML = table;
            WeightedAverage(cos);
            generateCOPOachieved(pos, psos, cos);
        }


        function generateCOPOachieved(pos, psos, cos) {

            let innerhtml = `<form>
                          <caption>Copo Achieved</caption>
                <table id="formTableCopoAchieved">
                    <thead>
                        <tr>
                            <td style = "width: 30px">9</td>`
            for (let x = 0; x < pos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >Po${x + 1}</td>`

            }
            for (let x = 0; x < psos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >PSo${x + 1}</td>`

            }
            innerhtml += `</tr></thead>
            <tbody>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<tr> <td style = "width: 30px;background-color:#50bd2e"  >Co${x + 1}</td>`;
                for (let y = 0; y < pos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"  name = 'CoAchieved${x + 1}' id = 'posAchieved${y + 1}-Co${x + 1}' style="width: 30px; border: none;"> </td>`;
                }
                for (let y = 0; y < psos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"   name = 'CoAchieved${x + 1}' id = 'psosAchieved${y + 1}-Co${x + 1}'
                                    style="width: 30px; border: none";> </td>`;
                }

                innerhtml += `</tr>`;


            }
            innerhtml += `<tr> <td style = "width: 30px;background-color:aqua"  >AVG</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'AVG' id = 'posAvg${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'AVG' id = 'psosAvg${y + 1}'
                                    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`


            innerhtml += `</tbody></table >


            </form >
            <br>
            <button type = "button" id="calculateAchievedAndExternal" class = "Button" onclick=  "mainFunctions.calculateAchievedAndExternal() ">Calc. Table</button>
            <br><br>`
            document.getElementById('copotable-achieved-div').innerHTML = innerhtml;




            generateEthresholdCOPO(pos, psos, cos);

        }

        function generateEthresholdCOPO(pos, psos, cos) {

            let innerhtml = `
<form> <caption>External Thershold based / scaled average </caption>
<table id="formEThresholdCopoAchieved">
    <thead>
        <tr>
            <td style = "width: 30px">10</td>`
            for (let x = 0; x < pos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >Po${x + 1}</td>`

            }
            for (let x = 0; x < psos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >PSo${x + 1}</td>`

            }
            innerhtml += `</tr></thead>
<tbody>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<tr> <td style = "width: 30px;background-color:#50bd2e"  >Co${x + 1}</td>`;
                for (let y = 0; y < pos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"  name = 'ECoAchieved${x + 1}' id = 'EposAchieved${y + 1}-Co${x + 1}' style="width: 30px; border: none;"> </td>`;
                }
                for (let y = 0; y < psos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"   name = 'ECoAchieved${x + 1}' id = 'EpsosAchieved${y + 1}-Co${x + 1}'
                    style="width: 30px; border: none";> </td>`;
                }

                innerhtml += `</tr>`;


            }
            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >AVG</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'EAVG' id = 'EposAvg${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'EAVG' id = 'EpsosAvg${y + 1}'
                    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`

            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >TSet</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'TargetSet' id = 'Tsetpos${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'TargetSet' id = 'Tsetpsos${y + 1}'
                    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`

            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >Achieved(Y/N)</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'Achieved' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'Achieved'style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`


            innerhtml += `</tbody></table>
<br><br>

</form>

<br><br>`
            document.getElementById('EThreshold-achieved-table').innerHTML = innerhtml;
            mainFunctions.CourseExits();

        }
        function save() {
            if (coposcore.length == 0)
                calc.TweightedAvgAchieved();
            calc.TargetNAvg();
            saveCOmatrix();

        }

        function saveCOmatrix() {
            let sub = document.getElementById('subject_collapse').innerHTML.trim();
            let dictdata = {}
            for (let a = 0; a < cos; a++) {
                const ele = document.getElementsByName('Co' + (a + 1))
                let arr = [];
                ele.forEach(inp => {
                    arr.push(inp.value)
                })
                dictdata[`Co${(a + 1)}`] = arr
            }

            const dict = JSON.stringify(dictdata)

            $.ajax({
                url: '/Admin/Home/SaveCOmatrix/', // Backend endpoint
                type: 'POST',
                data: {
                    sub: sub,
                    matrix: dict, // Send JSON string as data
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (data) {
                    setTimeout(() => {
                        alert('Data Added Successfully')
                    }, 1000)
                    calc.TweightedAvgAchieved();
                    calc.TargetNAvg();

                }


            })
        }

        function update() {
            coposcore = [];
            calc.TweightedAvgAchieved();
            calc.TargetNAvg();
            saveCOmatrix();

        }




        function WeightedAverage(cos) {
            let c = ""
            for (let i = 0; i < cos; i++) {
                c += `
                    <tr>
                        <td style="background-color:rgb(246, 239, 229)">CO${i + 1}</td>
                        <td  style="background-color:rgb(246, 239, 229)" name = "Internal" id = "Co${i + 1}I"></td>
                        <td  style="background-color:rgb(246, 239, 229)" name = "External" id = "Co${i + 1}E"></td>
                     </tr>
                `;
            }
            document.getElementById("COTableGen").innerHTML = c;
        }


        function generateCourseExitCOPOAchieved(pos, psos, cos) {
            document.getElementById('courseExit').style.visibility = "visible";
            let innerhtml = `<form>
          <caption>Course Exit Copo Achieved</caption>
<table id="formTableCourseExitCopoAchieved">
    <thead>
        <tr>
            <td style = "width: 30px">12</td>`
            for (let x = 0; x < pos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >Po${x + 1}</td>`

            }
            for (let x = 0; x < psos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >PSo${x + 1}</td>`

            }
            innerhtml += `</tr></thead>
<tbody>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<tr> <td style = "width: 30px;background-color:#50bd2e"  >Co${x + 1}</td>`;
                for (let y = 0; y < pos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"  name = 'CourseAchieved${x + 1}' id = 'courseposAchieved${y + 1}-Co${x + 1}' style="width: 30px; border: none;"> </td>`;
                }
                for (let y = 0; y < psos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"   name = 'CourseAchieved${x + 1}' id = 'coursepsosAchieved${y + 1}-Co${x + 1}'
                    style="width: 30px; border: none";> </td>`;
                }

                innerhtml += `</tr>`;


            }
            innerhtml += `<tr> <td style = "width: 30px;background-color:aqua"  >AVG</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'CourseAVG' id = 'courseposAvg${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'CourseAVG' id = 'coursepsosAvg${y + 1}'
                    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`


            innerhtml += `</tbody></table >


</form >

<br><br>`
            document.getElementById('CourseExit-table').innerHTML = innerhtml;




            generateECourseExitCOPO(pos, psos, cos);

        }

        function generateECourseExitCOPO(pos, psos, cos) {

            let innerhtml = `
<form> <caption>External Thershold based / scaled average </caption>
<table id="formCEThresholdCopoAchieved">
<thead>
<tr>
<td style = "width: 30px">13</td>`
            for (let x = 0; x < pos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >Po${x + 1}</td>`

            }
            for (let x = 0; x < psos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:#ffd966"  >PSo${x + 1}</td>`

            }
            innerhtml += `</tr></thead>
<tbody>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<tr> <td style = "width: 30px;background-color:#50bd2e"  >Co${x + 1}</td>`;
                for (let y = 0; y < pos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"  name = 'CourseECoAchieved${x + 1}' id = 'CEEposAchieved${y + 1}-Co${x + 1}' style="width: 30px; border: none;"> </td>`;
                }
                for (let y = 0; y < psos; y++) {
                    innerhtml += `<td  style = "background-color:rgb(246, 239, 229)"   name = 'CourseECoAchieved${x + 1}' id = 'CEEpsosAchieved${y + 1}-Co${x + 1}'
    style="width: 30px; border: none";> </td>`;
                }

                innerhtml += `</tr>`;


            }
            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >AVG</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'CourseEAVG' id = 'CEEposAvg${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'CourseEAVG' id = 'CEEpsosAvg${y + 1}'
    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`

            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >TSet</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'CourseTargetSet' id = 'CETsetpos${y + 1}' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'CourseTargetSet' id = 'CETsetpsos${y + 1}'
    style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`

            innerhtml += `<tr> <td style = "width: 100px;background-color:aqua"  >Achieved(Y/N)</td>`
            for (let y = 0; y < pos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"  name = 'CourseAchieved' style="width: 30px; border: none;"> </td>`;
            }
            for (let y = 0; y < psos; y++) {
                innerhtml += `<td  style = "background-color:rgb(255, 255, 153)"   name = 'CourseAchieved'style="width: 30px; border: none";> </td>`;
            }

            innerhtml += `</tr>`


            innerhtml += `</tbody></table>
<br><br>

</form>
<br><br>`
            document.getElementById('ECourseExit-table').innerHTML = innerhtml;

        }

        // Auto-fade the alert after 3 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $('.alert').fadeOut('slow');
            }, 3000);  // 3000 milliseconds = 3 seconds
        });

        function getScaledTable() {
            let innerhtml = `
 <caption> Scaled Value </caption>
<table id="Scaled-Value">
<thead>
<tr>
<td style = "width: 300px">Course Outcomes</td>`
            for (let x = 0; x < cos; x++) {
                innerhtml += `<td style = "width: 30px;background-color:green"  >Co${x + 1}</td>`

            }

            innerhtml += `</tr></thead>
<tbody>`

            innerhtml += `<tr> <td style = "width: 300px;background-color:#50bd2e"  >Avg of CO in the scale of 1-5</td>`;
            for (let y = 0; y < cos; y++) {
                innerhtml += `
                    <td><input style = "width: 50px;" type = 'number'  class="Table_data" id="CECO${y + 1}" name = 'OGValue' ></td>`;
            }


            innerhtml += `</tr>`;

            innerhtml += `<tr> <td style = "width: 300px;background-color:#50bd2e"   >Avg of CO in the scale of 1-3</td>`;
            for (let y = 0; y < cos; y++) {
                innerhtml += `
                    <td style = "width: 50px;" name = 'ScaledValue' id="CESCO${y + 1}"> </td>`;
            }


            innerhtml += `</tr>`;



            innerhtml += `</tbody></table>
<br><br>

            <button id= "CalCE" style="visibility:visible;width:150px" type = "button" class = "Button" onclick=  "mainFunctions.CalculateCourseExits() ">Calc CourseExits</button>
            <br><br>`

            document.getElementById('Scaled').innerHTML = innerhtml;
        }

    </script>
    <script>


        document.getElementById("formTable").addEventListener("paste", (event) => {
            event.preventDefault();

            // Retrieve pasted data as plain text
            const pasteData = event.clipboardData.getData("text");

            // Split into rows and then into columns
            const rows = pasteData.trim().split("\n").map(row => row.split("\t"));

            // Find table rows in tbody
            const tableRows = document.querySelectorAll("#formTable tbody tr");

            // Loop through rows of pasted data
            rows.forEach((rowData, rowIndex) => {
                const targetRow = tableRows[rowIndex + 3];

                // Make sure targetRow exists in the table
                if (targetRow) {
                    // Select only the inputs with class 'Table_data' in this row
                    const rowInputs = targetRow.querySelectorAll("input.Table_data");

                    // Loop through each cell in the pasted rowData
                    rowData.forEach((cellData, cellIndex) => {
                        // Ensure we don't exceed the number of inputs in the row
                        if (cellIndex < rowInputs.length) {
                            rowInputs[cellIndex].value = cellData.trim(); // Assign cell data
                        }
                    });
                }
            });
        });

        document.getElementById("formTable2").addEventListener("paste", (event) => {
            event.preventDefault();

            // Retrieve pasted data as plain text
            const pasteData = event.clipboardData.getData("text");

            // Split into rows and then into columns
            const rows = pasteData.trim().split("\n").map(row => row.split("\t"));

            // Find table rows in tbody
            const tableRows = document.querySelectorAll("#formTable2 tbody tr");

            // Loop through rows of pasted data
            rows.forEach((rowData, rowIndex) => {
                const targetRow = tableRows[rowIndex + 3];

                // Make sure targetRow exists in the table
                if (targetRow) {
                    // Select only the inputs with class 'Table_data' in this row
                    const rowInputs = targetRow.querySelectorAll("input.Table_data");

                    // Loop through each cell in the pasted rowData
                    rowData.forEach((cellData, cellIndex) => {
                        // Ensure we don't exceed the number of inputs in the row
                        if (cellIndex < rowInputs.length) {
                            rowInputs[cellIndex].value = cellData.trim(); // Assign cell data
                        }
                    });
                }
            });
        });



        document.getElementById("copotable-div").addEventListener("paste", (event) => {
            event.preventDefault();

            // Retrieve pasted data as plain text
            const pasteData = event.clipboardData.getData("text");

            // Split into rows and then into columns
            const rows = pasteData.trim().split("\n").map(row => row.split("\t"));

            // Find table rows in tbody
            const tableRows = document.querySelectorAll("#copotable-div tbody tr");

            // Loop through rows of pasted data
            rows.forEach((rowData, rowIndex) => {
                const targetRow = tableRows[rowIndex];

                // Make sure targetRow exists in the table
                if (targetRow) {
                    // Select only the inputs with class 'Table_data' in this row
                    const rowInputs = targetRow.querySelectorAll("input.Table_data");

                    // Loop through each cell in the pasted rowData
                    rowData.forEach((cellData, cellIndex) => {
                        // Ensure we don't exceed the number of inputs in the row
                        if (cellIndex < rowInputs.length) {
                            rowInputs[cellIndex].value = cellData.trim(); // Assign cell data
                        }
                    });
                }
            });
        });

        function getAllFinalValues() {
            let sub = document.getElementById('subject_collapse').innerHTML.trim();
            let tea = document.getElementById('teacher_collapse').innerHTML.trim();

            let CoAchieved1 = {}
            for (let a = 0; a < cos; a++) {
                const ele = document.getElementsByName('CoAchieved' + (a + 1))
                let arr = [];
                ele.forEach(inp => {
                    arr.push(inp.textContent)
                })
                CoAchieved1[`Co${(a + 1)}`] = arr
            }
            let ele = document.getElementsByName('AVG')
            let arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved1[`AVG`] = arr
            const CoAchieved1Dict = JSON.stringify(CoAchieved1)

            //Table 1 finished

            let CoAchieved2 = {}
            for (let a = 0; a < cos; a++) {
                ele = document.getElementsByName('ECoAchieved' + (a + 1))
                arr = [];
                ele.forEach(inp => {
                    arr.push(inp.textContent)
                })
                CoAchieved2[`Co${(a + 1)}`] = arr
            }
            ele = document.getElementsByName('EAVG')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved2[`EAVG`] = arr

            ele = document.getElementsByName('TargetSet')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved2[`TargetSet`] = arr

            ele = document.getElementsByName('Achieved')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved2[`Achieved`] = arr
            const CoAchieved2Dict = JSON.stringify(CoAchieved2)

            //Table 2 finished

            let CoAchieved3 = {}
            for (let a = 0; a < cos; a++) {
                ele = document.getElementsByName('CourseAchieved' + (a + 1))
                arr = [];
                ele.forEach(inp => {
                    arr.push(inp.textContent)
                })
                CoAchieved3[`Co${(a + 1)}`] = arr
            }
            ele = document.getElementsByName('CourseAVG')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved3[`CourseAVG`] = arr
            const CoAchieved3Dict = JSON.stringify(CoAchieved3)


            //Table 3 finished

            let CoAchieved4 = {}
            for (let a = 0; a < cos; a++) {
                ele = document.getElementsByName('CourseECoAchieved' + (a + 1))
                arr = [];
                ele.forEach(inp => {
                    arr.push(inp.textContent)
                })
                CoAchieved4[`Co${(a + 1)}`] = arr
            }
            ele = document.getElementsByName('CourseEAVG')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved4[`CourseEAVG`] = arr

            ele = document.getElementsByName('CourseTargetSet')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved4[`CourseTargetSet`] = arr

            ele = document.getElementsByName('CourseAchieved')
            arr = [];
            ele.forEach(inp => {
                arr.push(inp.textContent)
            })
            CoAchieved4[`CourseAchieved`] = arr
            const CoAchieved4Dict = JSON.stringify(CoAchieved4)

            //Table 4 finished

            $.ajax({
                url: '/Admin/Home/SaveCOPOAcheived/', // Backend endpoint
                type: 'POST',
                data: {
                    sub: sub,
                    table1: CoAchieved1Dict,
                    table2: CoAchieved2Dict,
                    table3: CoAchieved3Dict,
                    table4: CoAchieved4Dict,
                    teacher: tea,
                    sub: sub,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            })
        }


    </script>
    <script src="/static/formulas.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->
    <script>
        // Auto fade out alerts after 3 seconds
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                let alerts = document.querySelectorAll('.alert');
                alerts.forEach(function (alert) {
                    alert.classList.add('fade-out');
                    setTimeout(function () {
                        alert.style.display = 'none';
                    }, 500); // Match the duration of the fade-out transition
                });
            }, 3000); // Time in milliseconds before fading out (3 seconds)
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>