{% extends "Teachers/PageTemplate.html" %}
{% block content %}
<header>
    <div class="accordion accordion-flush" id="Teacher_name">
        <div class="accordion-item" style="border-radius: 40px;">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" id="teacher_collapse" style="border-radius: 40px;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Teacher_content" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    {{teachname}}
                </button>
            </h2>
            <div id="Teacher_content" class="accordion-collapse collapse" data-bs-parent="#Teacher_name">
                <div class="accordion-body">
                    <form action="/Login/logout/">
                        <button type="submit" class="Button"> Logout </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion accordion-flush" id="Subject_name">
        <div class="accordion-item" style="border-radius: 40px;">
            <h2 class="accordion-header" onload="setCOPO()">
                <button class="accordion-button" id="subject_collapse" style="border-radius: 40px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#Subject_content" aria-expanded="true"
                    aria-controls="flush-collapseOne">
                    {{subject}}
                </button>
            </h2>
            <div id="Subject_content" class="accordion-collapse collapse show" data-bs-parent="#Subject_name">
                <div class="accordion-body">

                    <form action='/Teachers/fetch/' method="post">{% csrf_token %}

                        <select name="branch" id="branch">
                            <option value="default" required>Select Branch</option>
                            {% for b in branch %}
                            <option value="{{b}}">{{b}}</option>
                            {% endfor %}
                        </select>



                        <select name="batch" id="batch" required>
                            <option value="default">Select Batch</option>
                            {% for b in batch %}
                            <option value="{{b}}">{{b}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="Button"> Generate </button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    window.onload = function () {
        setCOPO()

    }


</script>
{% endblock %}